/*contentéƒ¨åˆ†å¼€å§‹*/
.profile, .skills, .education, .experience, .hobby, .contacts{
    overflow: hidden;
    height: 100%;
}
/*resumeéƒ¨åˆ†*/
.resume{
    width: 100%;
    height: 500px;
}
.resume .wrapper{
    position: relative;
    height: 500px;
}
.resume-container{
    width: 100%;
    height: 500px;
}
.resume-container li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
.resume-container img{
    display: block;
    width: 100%;
    height: 500px;
}
.resume-btn{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
}
.resume-btn ul{
    display: inline-block;
}
.resume-btn li{
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.resume-btn i{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #000;
}
/*profileéƒ¨åˆ†*/
.profile .wrapper{
    position: relative;
    height: 80%;
    background: #ff0;
}
.profile-canvas{
    position: absolute;
    top: 0;
    left: 0;
}
.profile-content{
    position: absolute;
    top: 0;
    left: 0;
}
/*skillséƒ¨åˆ†*/
.skills .wrapper{
    height: 80%;
    background: #ff0;
}
/*educationéƒ¨åˆ†*/
.education .wrapper{
    height: 80%;
    background: #ff0;
}
/*experienceéƒ¨åˆ†*/
.experience .wrapper{
    height: 80%;
    background: #ff0;
}
/*hobbyéƒ¨åˆ†*/
.hobby .wrapper{
    height: 80%;
    background: #ff0;
}
/*contactséƒ¨åˆ†*/
.contacts .wrapper{
    height: 80%;
    background: #ff0;
}














/*contentéƒ¨åˆ†ç»“æŸ*/
@media screen and (max-width: 1100px){
    .resume .wrapper{
        width: 100%;
    }
    .resume-container img{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .resume, .resume .wrapper, .resume-container, .resume-container li, .resume-container img{
        height: 400px;
    }
}
@media screen and (max-width: 600px){
    #header{
        height: 110px;
    }
    .header-list{
        display: none;
    }
    .resume, .resume .wrapper, .resume-container, .resume-container li, .resume-container img{
        height: 300px;
    }
    .title{
        height: 70px;
        margin-top: 30px;
    }
    .title h2{
        line-height: 42px;
        font-size: 20px;
    }
    .title:before, .title:after{
        line-height: 14px;
    }
}
@media screen and (max-width: 400px){
    .resume, .resume .wrapper, .resume-container, .resume-container li, .resume-container img{
        height: 200px;
    }
}