#ad{
    width: 100%;
    height: 460px;
    background: #31333e;
}
.ad-box{
    position: relative;
}
.ad-box,.img-box{
    width: 1002px;
    height: 460px;

}
.img-box img{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.prev,.next{
    width: 34px;
    height: 54px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
}
.prev{
    background: url("../img/icons.png") -37px 0;
    left: 0;
}
.next{
    background: url("../img/icons.png") -94px 0;
    right: 0;
}