#product{
    height: 492px;
    background: #ffffff;
}
.pro{
    width: 334px;
    height: 492px;
    text-align: center;
    float: left;
}
.title{
    margin-top: 82px;
    margin-bottom: 12px;
    font-size: 30px;
    color: #626262;
}
.pro img{
    margin-bottom: 16px;
}
.pro p{
    font-size: 15px;
    color: #383c46;
    line-height: 26px;
    margin-bottom: 21px;
}
.pro a{
    font-size: 15px;
    color: #00aeff;
}