#works{
    height: 500px;
    background: #e2e7ed;
    /*padding-top: 23px;*/
}
.work-box img{
    display: block;
    float: left;
}
.h2-title{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #626262;
    font-size: 30px;
}
