<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red{
            color: #ff0000;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model='input' @keyup='filterArr()'>
        <button @click='fn()'>add</button>
        <ul>
            <li v-for="obj in arr"
            @click='change(obj)' :class='{red:obj.isRed}'>{{obj.name}}</li>
        </ul>
    </div>
    
    <script src='vue.js'></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                input:'',
                arr:[],
                newArr:[]
            },
            methods:{
                fn:function(){
                    this.arr=this.newArr;
                    var obj={
                        name:this.input,
                        isRed:false
                    }
                    this.arr.push(obj);   //在arr中推入obj对象
                    //this.newArr=this.arr;
                    this.arr.sort(function(x,y){     //对其排序
                        return x.name>y.name            //按字符顺序排列
                    });
                    this.input='';
                },
                filterArr:function(){
                    var arr1=this.arr.filter((obj)=>{
                        return obj.name.includes(this.input);
                    })
                    this.arr=arr1;
                },
                change(obj){
                    obj.isRed=!obj.isRed;   //取当前isred值 判断是否为红色 取非
                }
            }
        })
    
    
    </script>
</body>
</html>